html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    max-width: 100vw;
    top: 0;
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
}

nav {
    /* position: fixed; */
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    width: 100vw;
    height: 3.5rem;
    padding-right: 2rem;
    padding-top: 1rem;
    position: fixed;
    z-index: 5;
    transition: all 200ms;
}

.nav-scrolled {
    background: linear-gradient(0.25turn, #FF3E3E, #6A37D4, #060110);
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.2);
    top:0;
    padding-top: 0.5rem;
    transition: all 0.2s;
    /* border-bottom: 1px solid #F9D6E6; */
}

nav li {
    font-family: Verdana, sans-serif;
    display: inline;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-bottom: none;
    }

li:hover {
    color:#F9D6E6;
    border-bottom: 0.5rem solid #be3555;
    transition: all 0.2s;
    /* text-shadow: 4px 4px 7px #F9D6E6 ; */
}

li:active {
    color:#be3555;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

#hero {
    background-image: url("./Untitled\ design\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.2);
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
}


h1 {
    position: relative;
    right: 4rem;
    text-align: end;
    font-family: Verdana, sans-serif;
    font-size: 5.5em;
    color: #ffffff;
    /* text-shadow: 0.5rem 0.5rem 10px #521426; */
}

main {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 1px solid #6A37D4; */
    width: 100vw;
    /* height: 50rem; */
}
#about {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: initial ;
    /* width: 100vw; */
    height: 95vh;
    background-color: #F9D6E6;
    /* box-shadow: inset 0 0 0 100vw rgba(0,0,0,.03); */
}

h2 {
    text-align: start;
    padding: 5rem 0 2rem;
    font-size: 3em;
    margin-block: 0;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

p {
    margin-block: 0;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 30px;
}

#myQuote {
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    gap: 3rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.about {
    margin-top: 3rem;
    padding-top: 2rem;
    /* font-size: 18px; */
    padding: 4.5rem;
    background-color: #fff;
    border-radius: 30px;
}

#projects {
    width: 100vw;
    height: 95vh;
    /* background-color: #9A39A3; */
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    /* border: 1px solid black; */
    height: 60vh;
    /* width: fit-content; */
}

.individual {
    background-image: url("./Untitled\ design\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.7);
    box-sizing: content-box;
    width: 20rem;
    max-height: 600px;
    padding: 5rem 2rem;
    background-color: #121a61;
    border: 15px solid #a7cdff;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
}

.individual:hover {
    background-color: #b6385b;
    border-color: #F9D6E6;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.2);
    cursor: pointer;
    transition: all 0.5s;
}

#contact {
    background-color: #F9D6E6;
    height: 95vh;
}

/* Repetitive classes */

.divWidth {
    width: 80vw;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0;
}

.center {
    text-align: center;
}

.marginTop {
    margin-top: 5rem;
}

.describe {
    color: white;
}

.blue {
    color: rgb(106, 55, 212);
}

.space {
    margin-right: 10px;
}

span {
    color: #AF314F;
}

.fa-brands {
    font-size: 3rem;
    margin-right: 2rem;
    color: #AF314F;
}

.fa-brands:hover {
    color: #6A37D4;
}

.fa-brands:active {
    color: white;
}

#form {
    display: flex;
    align-items: center;
}

form {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 4rem;
    padding: 3rem 2rem;
    width: 40vw;
    height: 50vh;
    max-width: 600px;
    border-radius: 30px;
}

form h3 {
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    font-size: 1.5em;
}

form input, form textarea {
    border: 0;
    margin: 5px 0;
    padding: 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #AF314F;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 1.5rem auto 0;
    border-radius: 5px;
}

@media screen and (max-width: 320px) and (max-height: 842px){
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    
    nav {
        font-size: 11px;
        padding-right: 0; 
        justify-content: center; 
    }

    nav ul {
        padding: 0;
    }

    h1 {
        font-size: 40px;
        width: 100vw;
        text-align: right;

    }

    h2 {
        font-size: 30px;
        padding: 10px;
        margin: 0;
    }

    section#about {
        height: 50vh;
    }

    p.about {
        font-size: 16px;
    }

    section#projects {
        margin: 0;
        padding: 0;
        height: fit-content;
    }

    .container {
        display: block;
        max-width: 320px;
    }

    .individual {
        padding: 0;
        border: 10px solid #99475e;
        max-height: 200px;
    }

    .individual:active {
        background-color: #c92959;
        border-color: #F9D6E6;
        transition: all 0.5s;
    }

    .individual h3:active {
        color: white;
    }

    .individual p:active {
        color: white;
        }

    h3 {
        font-size: 18px;
        padding-left: 10px;
    }

    .individual p {
        font-size: 14px;
        padding-left: 10px;
    }

    #contact {
        height: 95vh;
    }
    #contact p {
        font-size: 16px;
    }

    form {
        max-height: 550px;
    }

    form input, form textarea {
        padding: 15px;
        font-size: 14px;
    }

    form button {
        padding: 15px 0px;
        font-size: 16px;
    }
}

@media screen and (min-width: 321px) and (max-width: 425px) and (max-height: 842) {
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    
    nav {
        font-size: 11px;
        padding-right: 0; 
        justify-content: center; 
    }

    nav ul {
        padding: 0;
    }

    h1 {
        font-size: 35px;
        width: 100vw;
        text-align: right;
    }

    h2 {
        font-size: 30px;
        padding: 10px;
        margin: 0;
    }

    section#about {
        height: 50vh;
    }

    p.about {
        font-size: 16px;
    }

    section#projects {
        margin: 0;
        padding: 0;
        height: fit-content;
    }

    .container {
        display: block;
        max-width: 320px;
    }

    .individual {
        padding: 0;
        border: 10px solid #99475e;
        max-height: 200px;
    }

    .individual:active {
        background-color: #c92959;
        border-color: #F9D6E6;
        transition: all 0.5s;
    }

    .individual h3:active {
        color: white;
    }

    .individual p:active {
        color: white;
        }

    h3 {
        font-size: 18px;
        padding-left: 10px;
    }

    .individual p {
        font-size: 14px;
        padding-left: 10px;
    }

    #contact {
        height: 95vh;
    }
    #contact p {
        font-size: 16px;
    }

    form {
        max-height: 550px;
    }

    form input, form textarea {
        padding: 15px;
        font-size: 14px;
    }

    form button {
        padding: 15px 0px;
        font-size: 16px;
    }
    
}