@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:ital,wght@0,400;1,100;1,200&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Verdana, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
    cursor: default;
}

header {
    max-width: 100vw;
    top: 0;
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
}

nav {
    /* position: fixed; */
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    width: 100vw;
    height: 3.8rem;
    padding-right: 2rem;
    padding-top: 1rem;
    position: fixed;
    z-index: 5;
    transition: all 200ms;
}

.nav-scrolled {
    background: linear-gradient(0.25turn, #FF3E3E, #6A37D4, #060110);
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.2);
    top:0;
    transition: all 0.2s;
    /* border-bottom: 1px solid #F9D6E6; */
}

nav li {
    font-family: Verdana, sans-serif;
    display: inline;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border-bottom: none;
    }

li:hover {
    color:#F9D6E6;
    border-bottom: 0.5rem solid #be3555;
    transition: all 0.2s;
    /* text-shadow: 4px 4px 7px #F9D6E6 ; */
}

li:active {
    color:#be3555;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
}

#hero {
    width: 100vw;
    background: linear-gradient(30deg, #FF3E3E, #6438BF, #120232);
    background-image: url("./images/main-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.2);
    position: relative;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
}


h1 {
    position: relative;
    right: 4rem;
    text-align: end;
    font-family: "Allerta Stencil", Verdana, sans-serif;
    font-size: 10rem;
    color: #ffffff;
    /* text-shadow: 0.5rem 0.5rem 10px #521426; */
}


h2 {
    text-align: start;
    padding: 5rem 0 2rem;
    font-family: "Allerta Stencil", Verdana, sans-serif;
    font-size: 4rem;
    margin-block: 0;
}

h3 {
    color: white;
    font-family: "Allerta Stencil", Verdana, sans-serif;
    font-size: 3rem;
}

h4 {
    color: white;
    font-family: "Allerta Stencil", Verdana, sans-serif;
    font-size: 3rem;
}

p {
    margin-block: 0;
    font-family: "Montse", sans-serif;
    color: black;
    font-size: 1.5rem;
    font-family: "Montserrat", Verdana, sans-serif;
    font-style: bold;
    line-height: 30px;
}

main {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 1px solid #6A37D4; */
    width: 100vw;
    /* height: 50rem; */
}
#about {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0;
    background: #F9D6E6;
    /* width: 100vw; */
    height: 100vh;
    /* box-shadow: inset 0 0 0 100vw rgba(0,0,0,.03); */
}

#myQuote {
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    gap: 3rem;
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 2.2rem;
    line-height: 2.5rem;
    /* font-weight: bold; */
    font-style: italic;
}

.about {
    margin-top: 3rem;
    padding-top: 2rem;
    /* font-size: 18px; */
    padding: 4.5rem;
    background: #fff;
    border-radius: 30px;
}

#about h3 {
    color: black;
    margin: 5rem 0 0 0;
}

#techCode {
    display: flex;
    justify-content: center;
}

#techCode i {
    font-size: 5rem;
    margin: 0 2rem;
    color: #AF314F;
    align-items: center;
    text-align: center;
}

#projects {
    width: 100vw;
    height: 100vh;
    /* background-color: #9A39A3; */
}

#projects h4 {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    /* border: 1px solid black; */
    height: 60vh;
    /* width: fit-content; */
}

.individual {
    background-image: url("./images/main-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.7);
    box-sizing: content-box;
    width: 25%;
    max-height: 600px;
    padding: 5rem 2rem;
    background-color: #121a61;
    border: 15px solid #a7cdff;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.individual:hover {
    background-color: #b6385b;
    border-color: #F9D6E6;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.2);
    cursor: pointer;
    transition: all 0.5s;
}

#contact {
    background: #F9D6E6;
    width: 100vw;
    background-image: url("./images/pink-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

/* Repetitive classes */

.divWidth {
    width: 80vw;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0;
}

.center {
    text-align: center;
}

.marginTop {
    margin-top: 5rem;
}

.describe {
    color: white;
}

.blue {
    color: rgb(106, 55, 212);
}

.space {
    margin-right: 10px;
}

span {
    color: #AF314F;
}

/* Contact section */

.socials {
    font-size: 4rem;
    margin-right: 4rem;
    color: #AF314F;
}

.socials:hover {
    color: #6A37D4;
}

.socials:active {
    color: white;
}

#form {
    display: flex;
    align-items: center;
}

form {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 3rem 2rem;
    height: 50vh;
    width: 50rem;
    border-radius: 30px;
}

form h3 {
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    font-size: 3rem;
}

form input, form textarea {
    border: 0;
    margin: 5px 0;
    padding: 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 1.2rem;
}

form button {
    padding: 15px;
    background: #AF314F;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 1.5rem auto 0;
    border-radius: 5px;
}

@media screen and (max-width: 320px) and (max-height: 842px){
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    
    nav {
        font-size: 11px;
        padding-right: 0; 
        justify-content: center; 
    }
   
}