html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #F9D6E6;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

nav {
    margin: 0;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end
}

nav li {
    font-family: "Montserrat", sans-serif;
    display: inline;
    padding: 0px 30px;
    font-size: 28px;
    font-weight: 550;
    color: darkmagenta;
    }

li:hover {
    font-weight: 700;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative;
    text-align: center;
    top: 80px; */
}

.magnolia {
    position: relative;
    width: 1000px;
    height: 650px;
    margin-top: 200px;
}

h1 {
    position: absolute;
    left: 500px;
    opacity: 0.75;
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    z-index: 1;
    padding-top: 40px;
}

h1:hover {
    color: #c92959;
    letter-spacing: 40px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic; 

}