body{
    background-color: #F9D6E6;
    font-family: 'Nunito', sans-serif;
    width: 70%;
    margin: auto;
}

h1{
    color: #521426;
    text-shadow: white 1px 0 19px;;
    text-align: center;
    margin-top: 64px;
}

#fortune{
    color: #c92959;
    font-size: 24px;
    text-align: center;
}

#buttonContainer{
    width: fit-content;
    margin: auto;
}

#fortuneButton{
    padding: 10px;
    font-size: 16px;
    background:  #521426;
    border: 5px solid #D0104C;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}